body{
    padding-left:44px;
    padding-right:44px ;
    padding-top: 40px;
    overflow-x: hidden; 
    
    
}

/***********************************/
/** contact **/
.email_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-orient: vertical;
  box-direction: normal;
 
          flex-direction: column;
  box-align: center;
          align-items: center;
  font-size: 30px;
}

/************************************/
/** navbar **/
nav li {
    font-size: 2em;
    margin-left: 24px;
    display: inline;    
}

nav a {
    color: black; 
    text-decoration: none;  
}

nav a:hover {
  color: #2baabbdd; 
  text-decoration: none; 
  animation: nav_exp 1s forwards;
}
/************************************/
/** home body **/
.upper_co{
  padding: 1em;
  color: rgb(255, 255, 255);
  background-image: url("img/xianxia_wall_2.jpeg");
  background-size: contain;
}
.upper_co h1{
    margin-left: 30%;
    font-size: 4em;
}
.upper_co p{
  font-size: 140%;
}

#slide1 {
    margin-left: 30px;
    animation: 1s slide 1s forwards;
    transform:translateX(-200%);
  }
#slide2 {
    animation: 1s slide 2s forwards;
    transform:translateX(-100%);
  }

.welcome_text{
  text-align: center;
  font-size: 3em;
  font-family: 'Franklin Gothic Medium';
}


.text_h{
  text-align: center;
  font-size: 2em;
}
/************************************/
/** footer **/

footer{
  margin-top: 30px;
}
footer p{
  margin-left:80%;
  display: inline;
}

.icon {
  width: 50px;
  padding-left: 10%;
}


/************************************/
/** section **/

.section_block{
  margin-top: 2em;
  padding-left: 1em;
  border: 2px solid black;
  border-radius: 30px;
  font-size: 140%;
}

.section_title{
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.sec {
  border-radius: 10px;
  margin: 2vw;
  font-size: 21px;
  padding: 3vw;
  background: #f0f0ef;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/************************************/
/** button skin **/
.nice_button {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #f1dddd;
  padding: 5px;
  background-color: #ee9014;
  color: #182541;
  margin: 10px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 25px 35px 25px 35px;
}

.nice_button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #4165b1;
}

#message_div {
  margin-top: 20px;
}

#message {
  width: 60vw;
  height: 40vh;
  font-size: 25px;
  text-align: left;
}

/************************************/
/** section skill icon **/

.skills_icons {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (minmax(0, 1fr));
      grid-template-columns: repeat(2, minmax(0, 1fr));
  overflow: hidden;
  background: white;
  width: auto;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .skills_icons {
    width: auto;
    height: auto;
    margin: 20px;
    -ms-grid-columns: (minmax(0, 1fr));
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.skills_icons img {
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
}

@media only screen and (max-width: 768px) {
  .skills_icons img {
    width: auto;
    height: 130px;
  }
}

.grid-elem{
  padding: 10px;
  height: 180px;
}

.grid-items {
  height: 200px;
  
}

.skil{
  overflow: hidden;
}

.fadein1 {
  -webkit-animation: fadeIn ease 4s infinite;
          animation: fadeIn ease 4s infinite;
}
.fadein2 {
  -webkit-animation: fadeIn2 ease 4s infinite;
          animation: fadeIn2 ease 4s infinite;
}
/************************************/
  @keyframes slide {
    to {
      transform:translateX(0);
    }
  }

  @keyframes nav_exp{
    100%{
      font-size: 110%; margin-right: 50px;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes fadeIn2 {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }





  /**********************************/

  .menu-btn {
    position: absolute;
    z-index: 10;
    right: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    visibility: hidden;
  }
  
  .menu-btn__burger {
    position: absolute;
    right: 0;
    top: 2.5rem;
    height: 4px;
    width: 30px;
    background: #f7fcfc;
  }
  
  .menu-btn__burger::before {
    content: '';
    position: absolute;
    right: 0;
    top: -0.5rem;
    height: 4px;
    width: 30px;
    background: #f7fcfc;
  }
  
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0.5rem;
    height: 4px;
    width: 30px;
    background: #f7fcfc;
  }
  
  .menu-btn__burger.open {
    -webkit-animation: shriking_bar 0.3s forwards;
            animation: shriking_bar 0.3s forwards;
    background: #ee9014;
  }
  
  .menu-btn__burger.open::before {
    background: #ee9014;
  }
  
  .menu-btn__burger.open::after {
    background: #ee9014;
  }
  
  @media only screen and (max-width: 768px) {
    .menu-btn {
      visibility: visible;
      z-index: 11;
    }
  }
  

  @media only screen and (max-width: 768px) {
    .nav {
      visibility: hidden;
    }
    .nav * {
      margin: 0;
      padding: 0;
    }
    .nav.open {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 3;
      width: 100vw;
      height: 100vh;
      opacity: 0.95;
      background: #182541;
      visibility: visible;
    }
    .nav.open .menu-nav {
      visibility: visible;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 7vw;
      height: 100vh;
      background: #182541;
    }
    .nav.open .menu-nav__item {
      padding-top: 2rem;
      font-weight: bolder;
    }
    .nav.open #contact_btn {
      margin-left: 0;
    }
  }